@media only screen and (min-width: 1024px) {

  .header-img-container{
    max-width: 155px;
  }
  
  .header-info-lang-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .info-lang {
    display: block;
    font-size: 0.85rem;
  }

  /* .main-container-img-mobile {
    display: none;
  } */

  .header-video {
    margin-top: -100px;
  }

  /* CONTENEDOR MAIN FILTER Y CARDS */

  .main-container-body{
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* CARDS */

  /* CARD IMG */
  .main-col-course-image{
    flex-basis: 370px;
  }

  .main-col-course-image img {
    width: 100%;
    height: auto;
  }

  .course-img-text p:last-of-type{
    font-size: clamp(0.7rem, 1.3vw, 1rem);
  }

  .main-col-courses-card{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
    align-items: center;
    max-width: none;
    /* grid-template-columns: 1fr 1fr; */
    /* max-height: 250px; */
    /* padding: 1rem 0; */
    /* display: none; */
  }



  .main-col-course-detail{
    display: flex;
    flex-direction: row;
    min-width: 0;
    gap: 1rem;
    align-items: stretch;
    margin-top: 1rem;
    margin-right: 0.65rem;
  }

  /* -- CARD DETAIL MOBILE */
  .course-detail-mob{
    display: none;
  }

  /* --DETALLE CARDS PRECIO */

  .course-detail-pricing{
    flex-direction: column;
    justify-content: start;
    margin-top: 0;
    gap: 1rem;
    /* padding: 0 1rem; */
  }

  .course-detail-pricing p {
    display: none;
  }

  .course-detail-img img {
    display: block;
    max-width: 100px;
    margin-bottom: 0;
  }

  .course-detail-price{
    display: block;
  }

  /* -- DETALLE CARD ICONS */
  
  .course-icon-1 img{
    display: block;
  }

  /* -- DETALLE CARDS PRECIOS ANTES Y DESPUES */

  .price-before h6{
    font-size: 1.2rem;
  }

  .price-now span:nth-child(1){
    font-size: 1.3rem;
  }
  
  
  /* --CARD ICON / BOTONES CONTAINER */
  .course-detail-info{
    min-width: 200px;
  }
  
  /* ÍCONOS PRECIOS */
  .course-detail-info-icons {
    flex-direction: row;
    margin: 0;
    gap: 1.5rem;
    display: flex;
  }

  /* CARD ICON TEXT SPAN */
  .icon-text-mobile{
    display: none;
  }

  /* BOTONES PRECIO */
  .course-detail-info-btns{
    margin-top: 1rem;
    gap: 0;
    flex-direction: column;
  }

  .course-btn {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  .course-btn a {
    font-size: 1rem
  }

  /* FILTER COLUMN */

  .main-col-filters {
    overflow:hidden;
  }

  .filter-title-mobile{
    display: none;
  }

  .filter-title-desktop{
    display: block;
  }

  /* -- FILTER MESSAGE */
  .filtrar-mobile-text{
    display: none;
  }

  /* IMAGEN BANNER BECA */

  .main-container-img-desktop {
    display: block;
    margin-top: 3rem;
    position: relative;
  }

  .main-cont-mobile-text{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }

  .main-cont-mobile-text p:nth-child(1){
    font-size: 2rem;
    line-height: 2rem;
  }

  .main-cont-mobile-text p:nth-child(2){
    font-size: 1.3rem;
  }

  /* IMAGEN GRUPO INVESTIGACIÓN DESKTOP */

  .main-img-mob{
    display: none;
  }
  
  .main-img-desktop {
    display: block;
  }

    /* FOOTER */

    .footer-1-content{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
    }
    .footer-menu{
      border-bottom: 0px  ;
    }
.animate .bi {
  display: none;
}
  /* FIN FOOTER */
}

@media screen and (min-width: 1024px) and (max-width: 1200px){
  .course-img-text p:first-of-type {
    font-size: clamp(0.72rem, 1.4vw, 1rem);
  }
}

@media screen and (min-width:1280px) {

  /* -- BANNER BECA */
  .main-cont-mobile-text{
    bottom: 1rem;
  }

    .main-cont-mobile-text p:nth-child(1){
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .main-cont-mobile-text p:nth-child(2){
    font-size: 1.5rem;
  }

  /* -- IMG CARDS */
  .main-col-course-detail{
    gap: 1.5rem;
  }

  .main-col-course-image{
    flex-basis: 450px;
  }

  /* --CARD ICON / BOTONES CONTAINER */
  .course-detail-info{
    min-width: 220px;
  }
}