@media only screen and (min-width: 1024px) {
  
  .header-info-lang-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .info-lang {
    display: block;
    font-size: 0.85rem;
  }

  .main-container-img-mobile {
    display: none;
  }

  .header-video {
    margin-top: -100px;
  }

  /* CONTENEDOR MAIN FILTER Y CARDS */

  .main-container-body{
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  /* CARDS */

  /* CARD IMG */
  .main-col-course-image img {
    width: 100%;
    height: 250px;
  }

  .img-bg-red{
    right: 17px;
    border-right: 17px solid var(--red);
  }

  /* CARD TEXT IMG*/
  .course-img-text {
    bottom: 3;
    padding-left: 1.5rem;
  }

  .course-img-text p:nth-child(3){
    font-size: 0.9rem;
  }

  .course-img-text p{
    font-size: 1.2rem;
    line-height: 0.5rem;
  }

  .main-col-courses-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 250px;
    margin-top: 0.75rem;
    align-items: center;
    margin-bottom: 2rem;
  }

  .main-col-course-detail{
    display: flex;
    flex-direction: row;
    min-width: 0;
  }

  .course-detail-pricing{
    flex-direction: column;
    justify-content: start;
    margin-top: 0;
    padding: 0 1rem;
  }

  .price-before h6{
    font-size: 1.2rem;
  }

  /* ÍCONOS PRECIOS */
  .course-detail-info-icons {
    margin: 0;
    gap: 1.5rem;
  }

  /* BOTONES PRECIO */
  .course-btn {
    width: 100%;
    margin: 0.5rem 0;
  }

  .course-btn a {
    font-size: 1rem
  }

  /* FILTER COLUMN */

  .main-col-filters {
    overflow:hidden;
  }

  /* IMAGEN BANNER BECA */

  .main-container-img-desktop {
    display: block;
    margin-top: 3rem;
    position: relative;
  }

  .main-cont-mobile-text{
    position: absolute;
    left: 1rem;
    bottom: 0;
  }

  .main-cont-mobile-text p:nth-child(1){
    font-size: 2.5rem;
  }

  .main-cont-mobile-text p:nth-child(2){
    font-size: 1.5rem;
  }

  /* IMAGEN GRUPO INVESTIGACIÓN DESKTOP */

  .main-img-mob{
    display: none;
  }
  
  .main-img-desktop {
    display: block;
  }
}

@media screen and (min-width:1280px) {
  .course-img-text p:nth-child(3){
    font-size: 1rem;
  }

  .course-img-text{
    padding-right: 0.9rem;
    bottom: 4px;
  }

    /* -- IMG CARDS */
    .img-bg-red{
      right: 21px;
      border-right: 18px solid var(--red);
      border-bottom: 57px solid transparent;
    }
}