/* 544px */
@media only screen and (min-width: 544px) {
  .header-info{
    justify-content: end;
  }

  .header-video{
    text-align: center;
  }
  .header-video img{
    width: 100%;
  }
  
  .header-info-phone{
    display: block;
    color: white;
    font-size: 0.75rem;
  }
  /* .header-info-phone span{
    font-size: 0.85rem;
  } */

  .main-cont-mobile-text {
    left: 10rem;
  }
}

@media screen and (min-width: 994px) {
    /* -- ICONO BACK MOVIL */
    .dropdown-close{
      display: none;
    }
}

/* -- 768px */
@media only screen and (min-width: 768px) {

  /* HEADER */
  .header-info-icons-mobile{
    display: none;
  }

  .header-info-icons-desktop{
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: 1rem;
  }

  .header-info-icons-desktop a{
    color: white;
  }

  /* HEADER VIDEO */
  /* .header-video {
    margin-top: -100px;
  } */
  

  .main-container-head h1 {
    font-size: 2.5rem;
  }

  .main-container-head span {
    font-size: 1.5rem;
  }

  .filtrar-mobile-btn{
    margin: 3rem 0;
  }

  .main-cont-mobile-text{
    left: 14.5rem;
    bottom: 2rem;
  }

  .main-cont-mobile-text p:nth-child(1){
    font-size: 3rem;
    line-height: 3rem;
  }

  .main-cont-mobile-text p:nth-child(2){
    font-size: 1.8rem;
  }

  /* -- IMG CARDS */
  .main-col-course-detail {
    min-width: 450px;
    margin: 0 auto;
  }

  .price-before h6{
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  .price-now h5{
    font-size: 2rem;
    margin-top: -0.8rem;
  }

  .price-now span:nth-child(1){
    font-size: 1.5rem;
  }

}

@media only screen and (min-width: 820px) {
  .main-cont-mobile-text {
    left: 16.5rem;
  }

}