/* ---- HEADER INFORMATION ----- */
.logo {
  max-width: 100%;
  height: 100px;
}

.header-info-container {
  background-color: var(--main-blue);
	padding: 0.5rem 1rem;
}

.header-info-icons-mobile{
	display: flex;
	gap: 1rem;
	justify-content: center;
	/* font-size: 1.2rem; */
  margin-bottom: 0.5rem;
}

.header-info-icons-mobile a {
  color: white;
}

.header-info-icons-desktop, .header-info-phone{
	display: none;
}

.header-info{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  transition: opacity 1s ease-in-out;
}

.logo.hidden {
  opacity: 0.4;
}


/* -- BOTÓN SOLICTAR INFORMACIÓN */
.header-info-btn-link {
	background-color: white;
	padding: 0.5rem 0.6rem;
	border-radius: 5px;
}

.header-info-btn-link a {
  color: var(--main-blue);
  font-size: 0.7rem;
  font-weight: 500;
}

.header-info-btn-link:hover {
	background-color: var(--main-blue);
  border: 1px solid white;
}
.header-info-btn-link:hover a {
  color: white;
}



/* --- BOTÓN AULA VIRTUAL */
.header-info-aula-btn{
  background-color: var(--dark-yellow);
  padding: 0.3rem 0.5rem;
  border-radius: 16px;
}

.header-info-aula-btn:hover {
  background-color: white;
}

.header-info-aula-btn:hover a{
  color: var(--dark-blue);
}

.header-info-aula-btn a {
  color: white;
  font-size: 0.81rem;
  font-weight: 700;
}

/* --- ICON LANGUAGE */

.header-info-lang-icon {
  color: white;
  font-size: 1.5rem;
}

.info-lang {
  display: none;
}

/* --- HEADER VIDEO */

/* --- MAIN AREA */

.main-container{
  margin-top: 2rem;
  padding: 1rem;
}

.main-container-head {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--dark-blue);
}

.main-container-head h1{
  font-weight: 700;
}

.main-container-head span {
  font-size: 1.25rem;
}
/* --IMAGEN BANNER MOBILE */
.main-container-img-mobile{
  display: block;
  text-align: center;
  position: relative;
}

/* --IMAGEN BANNER TEXT MOBILE */
.main-cont-mobile-text{
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  color: white;
  text-align: justify;
}

.main-cont-mobile-text p {
  font-weight: 300;
}

.main-cont-mobile-text p:nth-child(1) {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

.main-cont-mobile-text p:nth-child(2) {
  font-size: 1.3rem;
}

.main-cont-mobile-text p span {
  font-weight: 700;
  margin: 0;
}


/* -- BTN OPEN FILTER */


/* --- FILTRO TITLE */

.main-filter-title h2 {
  color: var(--main-yellow);
  font-weight: 50;
  font-size: 2rem;
}

.main-filter-title h2 span {
  color: var(--main-yellow);
  font-weight: 900;
  font-size: 2.5rem;
}


/* ---- FILTRO CLEAR BTN */

.main-col-filters {
  padding: 1rem;
  overflow: scroll;
}

.main-filter-clear {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  color: var(--main-yellow);
  margin: 1.5rem 0;
}

.main-filter-clear i{
  font-size: 4rem;
}

.main-filter-clr-btn h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: -0.3rem;
}

.main-filter-clr-btn p {
  font-size: 1.3rem;
  margin: 0;
  padding-bottom: 0.6rem;
}

/* FILTER BANNER IMG */
.main-container-img-desktop {
  display: none;
}

/* --- MAIN FILTER COL */
.main-filter-list{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filter-subtitle h5 {
  font-weight: 900;
  color: var(--dark-blue);
  margin: 1rem 0;
}

/* --- BOTÓN FILTRAR */
.filtrar-mobile-btn{
  margin-top: 1.5rem;
}


/* --- MAIN COURSES CARD */

.main-col-courses-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
}

.course-detail-pricing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

/* --- CARD ECAMPUS IMG */
.main-col-course-image{
  position: relative;
}

.course-img-text{
  position: absolute;
  bottom: 0px;
  padding: 0.5rem 0.8rem 2px;
  color: white;
}

.course-img-text p{
  margin: 0;
  line-height: 1rem;
}

.course-img-text p:nth-child(3){
  font-size: 0.75rem;
  margin-top: 3px;
  font-weight: 700;
  margin-bottom: 0;
}

.course-img-text hr{
  width: 60%;
  margin: 0;
  opacity: 1;
  
}

.course-detail-img img {
  max-width: 120px;
  height: auto;
}



/* --- CARD PRICE */
.course-detail-price {
  color: var(--main-yellow);
  text-align: center;
}

.price-before h6 {
  text-decoration: line-through;
  text-decoration-color: var(--dark-blue) ;
}

.price-before h6 span, .price-now h5 span{
  color: var(--dark-blue);
  font-weight: 700;
}

.price-before h6, .price-now h5{
  font-weight: 700;
}

.price-now span{
  font-weight: 700;
}


/* --- CARD ICONS */

.course-detail-info-icons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}

.course-icon-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.course-icon-1 img {
  max-width: 36px;
}

.course-icon-1 span {
  font-weight: 900;
  color: var(--dark-blue);
}

/* ---- CARD BUTTONS */

.course-detail-info-btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.course-btn {
  background-color: var(--blue) ;
  padding: 1rem;
  margin: 1rem 0;
  width: 90%;
  text-align: center;
}

.course-btn:nth-child(2){
  background-color: var(--main-yellow);
}

.course-btn a {
  color: white;
  font-weight: 900;
  font-size: 1.3rem;
}

.matricula a{
  color: var(--dark-blue);
}

/* -- IMAGEN GRUPO INVESTIGACION MÓVIL */

.main-img-mob{
  text-align: center;
}

.main-img-desktop {
  display: none;
}


/* --- MEDIA QUERIES */

@media screen and (min-width: 360px ) {
  .main-cont-mobile-text {
    left: 4rem;
  }
}
@media screen and (min-width: 375px ) {

  .header-info-aula-btn{
    padding: 0.3rem 1.25rem;
  }

  .main-cont-mobile-text {
    left: 5rem;
  }

  .course-img-text{
    padding: 1.5rem 0.8rem 8px;
  }
}

@media screen and (min-width: 425px ) {
  
  .header-info{
    justify-content: end;
  }

  .header-info-aula-btn a, .header-info-btn-link a {
    font-size: 0.75rem;
  }

  .main-cont-mobile-text {
    left: 6.5rem;
  }

  .course-img-text{
    padding: 1.5rem 0.8rem 8px;
  }

  .course-img-text p{
    margin-bottom: 0.5rem;
    line-height: 1rem;
    font-weight: 300;
    font-size: 1.3rem;
  }

  .course-img-text p:nth-child(3) {
    margin-bottom: 2px;
    font-size: 1rem;
  }
}