.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
	height: 100%;
}

nav {
	background: transparent;
	height: 100px;
	position: relative;
	padding-top: 0 !important;
	/* padding: 1rem 0; */
}

nav:hover{
	background-color: white;
}

nav .toggle-navbar {
	cursor: pointer;
	position: relative;
	z-index: 200;
	transition: all .3s ease;
	display: none;
}
nav > .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav .brand {
	margin-right: auto;
	font-size: 24px;
	font-weight: 700;
	font-family: var(--oswald);
	color: #000;
	text-transform: uppercase;
}
nav .nav-menu {
	display: flex;
	grid-gap: 1rem;
	margin-bottom: 0;
}
nav .nav-menu > li {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.85rem;
}
nav .nav-menu > li > a {
	color: #ffffff;
	font-weight: 700;
	transition: all .3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

/* -- EFECTO HOVER SUB LÃNEA */
nav .nav-menu > li > a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--dark-yellow);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

nav .nav-menu > li:hover > a::after,
nav .nav-menu > li:focus > a::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

nav .nav-menu > li:hover > a,
nav .nav-menu > li:focus > a {
	color: var(--light-blue);
	text-decoration: underline;
}

/* -- COLOR OSCURO EN INDICES AL HACER HOVER SOBRE EL NAV */
nav:hover .nav-menu > li > a {
	color: var(--dark-blue);
	transition: all .3s ease;
}

/* --- ESTILO CHEVRON RIGHT ICON */
nav .nav-menu > li > .bi {
	transition: all .3s ease;
	font-size: 1rem;
	font-weight: 700;
	color: var(--main-yellow);
}
nav .nav-menu > li:hover > .bi {
	transform: rotate(90deg);
	padding-right: 5px;
}
nav .nav-menu > li .dropdown-menu {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	background: var(--blue-subMenu);;
	overflow: hidden;
	max-height: 0;
	border: transparent;
	transition: all .3s ease;
}
nav .nav-menu > li:hover .dropdown-menu {
	max-height: 1000px;
	display: block;
	border-radius: 0;
}

nav .nav-menu > li .dropdown-menu .container {
	display: flex;
	grid-gap: 2rem;
	flex-wrap: wrap;
	padding: 1rem;
	justify-content: center;
}
nav .nav-menu > li .dropdown-menu .container .dropdown-close .bi {
	color: var(--dark-yellow);
}
nav .nav-menu > li .dropdown-menu .left-section {
	flex-grow: 1;
	flex-basis: 300px;
}
nav .nav-menu > li .dropdown-menu .left-section .dropdown-close {
	cursor: pointer;
	margin-bottom: 28px;
	display: none;
}
nav .nav-menu > li .dropdown-menu .left-section h1 {
	margin-bottom: 16px;
	font-size: 24px;
}
nav .nav-menu > li .dropdown-menu .left-section p {
	line-height: 170%;
	font-size: 16px;
	color: var(--grey);
	margin-bottom: 28px;
}
nav .nav-menu > li .dropdown-menu .left-section .btn-see-all {
	padding: 12px 28px;
	/* background: var(--blue); */
	border-radius: 8px;
	color: #fff;
	transition: all .3s ease;
}
nav .nav-menu > li .dropdown-menu .left-section .btn-see-all:hover {
	background: var(--dark-blue);
}
nav .nav-menu > li .dropdown-menu .right-section {
	flex-grow: 1;
	/* flex-basis: 700px; */
}
nav .nav-menu > li .dropdown-menu .right-section h3 {
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 36px;
}
nav .nav-menu > li .dropdown-menu .right-section .dropdown-links {
	display: flex;
	grid-gap: 3.5rem;
	justify-content: center;
}
/* nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li {
	flex-grow: 1;
	flex-basis: 300px;
} */

nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li .dropdown-links-items{
	display: flex;
	flex-direction: column;
	align-items: start;
}

nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li hr{
	width: 100%;
	margin: 0.5rem 0;
}

/* --- ESTILO EFECTO LINEA SUBMENU */

nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li a {
	/* display: flex;
	align-items: center;
	grid-gap: 16px; */
	transition: all.3s ease;
	font-size: 14px;
	color: var(--dark-blue);
	padding-bottom: 0.2rem;
	position: relative;
}

nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li a::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: var(--dark-yellow);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li a:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}




nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li h5 {
	font-size: 14px;
	font-weight: 700;
	color: var(--dark-blue);
	margin-bottom: 6px;
	transition: all.3s ease;
}

/* nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li a .bx {
	min-width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	background: #f5f5f5;
	transition: all.3s ease;
} */

/* nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li a{
	
} */

/* nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li a p {
	font-size: 14px;
	color: var(--grey);
	transition: all.3s ease;
} */
/* nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li a:hover .bx {
	background: var(--blue);
	color: var(--light-blue);
} */
/* nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li a:hover p {
	color: #000;
} */

/* --- STICKY MENU */
header .sticky {
	position: fixed;
  top: 0;
  width: 100%;
	background-color: white;
	z-index: 100;
	padding-top: 0;
	box-shadow: 0px 0px 20px -8px rgb(109, 109, 109);
}

header .sticky .nav-menu > li > a {
	color: var(--dark-blue);
	transition: all .3s ease;
}

@media screen and (min-width: 280px) and (max-width: 424px) {
	nav .nav-menu {
		top: 188px !important;
	}

/* --STICKY MOVIL MENU */
	nav .nav-menu-sticky {
		top: 100px !important;
	}
}

@media screen and (min-width: 425px) and (max-width: 767px) {
	nav .nav-menu {
		top: 188px !important;
	}

	nav .nav-menu-sticky {
		top: 100px !important;
	}
}

@media screen and (max-width: 993px) {
	nav {
		background: white;
		padding-top: 0 !important;
	}
	nav .nav-menu-sticky {
		top: 100px !important;
	}
	nav .nav-menu {
		position: fixed;
		top: 156px;
		left: 100%;
		width: 100%;
		height: 100%;
		background: var(--blue-subMenu);
		z-index: 100;
		flex-direction: column;
		align-items: flex-start;
		grid-gap: 0;
		padding-left: 24px;
		padding-top: 1rem;
		transition: all .3s ease;
	}
	nav .nav-menu > li .dropdown-menu .container {
		flex-direction: column;
		padding: 2rem;
	}
	nav .nav-menu.show {
		left: 0;
	}
	nav .nav-menu > li {
		height: 50px;
	}
	nav .nav-menu > li .dropdown-menu {
		top: 0;
		overflow-y: auto;
		max-height: 100vh;
		left: 100%;	
		transition: all .3s ease;
	}
	nav .nav-menu > li .dropdown-menu .right-section .dropdown-links li{
		flex-grow: 1;
	}
	nav .nav-menu > li .dropdown-menu .right-section .dropdown-links {
		/* flex-wrap: wrap; */
		overflow: scroll;
		max-height: calc(100vh - 320px);
		flex-direction: column;
		justify-content: unset;
		gap: 2rem;
	}
	nav .nav-menu > li .dropdown-menu.show {
		left: 0;
	}
	nav .nav-menu > li:hover .dropdown-menu {
		max-height: 100vh;
	}
	nav .nav-menu > li > a {
		color: var(--dark-blue);
	}
	nav .nav-menu > li > a .bx {
		transform: rotate(-90deg);
	}
	nav .nav-menu > li:hover > a .bx {
		transform: rotate(-90deg);
	}
	nav .nav-menu > li .dropdown-menu .left-section .dropdown-close {
		display: inline-block;
		color: var(--dark-yellow);
	}
	nav .toggle-navbar {
		display: block;
		transition-delay: .3s;
		font-size: 2rem;
		color: var(--dark-blue);
	}
	nav .toggle-navbar.hide {
		opacity: 0;
		/* pointer-events: none; */
		transition-delay: 0s;
	}
}

@media screen and (max-width: 1024px) {
	nav .nav-menu > li {
		font-size: 0.75rem;
	}
}