
:root {
	
	--open-sans: 'Open Sans', sans-serif;
  --main-blue: #19518c;
  --main-yellow: #FBC009;
	--dark-yellow: #F4A320;
	--dark-blue: #222C3F;
	--blue-subMenu: #e5ebf8;
	--light-blue: #7AC1FE;
	--blue-card: #1E5274;
	--red: #DE1D27;
	--blue: #1E5274;
	--grey: #eee;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--open-sans);
}

::-webkit-scrollbar {
	display: none;
}


a {
	text-decoration: none !important;
}

p{
	margin: 0 !important;
}

li {
	list-style: none !important;
}

img {
    max-width: 100%;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin: 0.2rem 0;
}