
:root {
	--open-sans: 'Open Sans', sans-serif;
	--oswald: 'Oswald', sans-serif;
    --main-yellow: #F4A320;
    --main-blue: #19518c;
	--blue: #0097FC;
	--light-blue: #7AC1FE;
	--dark-blue: #008CEA;
	--grey: #828282;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--open-sans);
}

body {
	background: #eee;
}

a {
	text-decoration: none !important;
}

li {
	list-style: none !important;
}

img {
    max-width: 100%;
}